name : #edge ;
extension : #.edge ;
keywords : #name  , #extension , #keywords , #constants , #operators , #idents , #numbers , #peers , #commentBlock , #commentLine ;
constants : #true ;
idents :  ##\S*