name : #ilp ;
extension : #ilp ;
keywords : #if  , #then , #in ;
constants : #true , #false ;
operators : #+ , #- ;
idents :  #[a-z]* ;
numbers :  #"" ;
peers :  #(  #) ;
commentLine :  #// ;
commentBlock : #/*  #*/ 